@using HomeWork1.Helper
@using HomeWork1.ViewModels

@model IEnumerable<HomeWork1.ViewModels.BalanceEntry>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @{
                int sernalNo = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(++sernalNo)</td>
                        <td>@(ShowCategoryText(item.Category))</td>
                        <td>@item.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@item.Money.ToString("c")</td>
                    </tr>
                }
                            }
        </table>
    </div>
</div>

@helper ShowCategoryText(EnumCategory? category)
{
    if (category.HasValue)
    {
        if (category == EnumCategory.Expense)
        {
            <span style="color:red">支出</span>
        }
        else if (category == EnumCategory.Revenue)
        {
            <span style="color:blue">收入</span>
        }
    }
}